<div class="footer">
   <p>
      Copyright <i class="far fa-copyright"></i> <script>document.write(new Date().getFullYear());</script> 
   </p>
   <p>Powered by <strong><a href="https://github.com/suncica-negra?tab=repositories" target="_blank" class="orhidea">DEA</a></strong></p>
</div>
</body>
</html>